.main {
  height: 100vh;
  background-image: url('./landing-page.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
}

.content {
  position: absolute;
  left: 670px;
  top: 50%;
  transform: translate(0, -50%);
}

.button:hover {
  background-color: rgba(118, 82, 133, 1);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.button:hover .button-icon {
  opacity: 1;
}

.button:hover .button-text {
  opacity: 1;
}

.button {
  background-image: linear-gradient(to right, rgba(118, 82, 133, 1), rgba(118, 82, 133, 0.5));
  color: white;
  border: none;
  width: 155px;
  height: 40px;
  border-radius: 50px;
  position: relative;
  transition: all 250ms ease;
  box-sizing: border-box;
}

.button:focus {
  outline: none;
}

.button-text {
  opacity: 0.8;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 20px;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

.button-icon {
  opacity: 0.8;
  font-size: 25px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 6px;
}