.bg-img {
  width: 100%;
  transform: translateY(-350px);
  z-index: -1;
}

.main {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.web-name {
  position: fixed;
  left: 14vw;
  top: 10vh;
  color: #01579B;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  opacity: 0;
  transition: opacity 250ms linear;
}

.opacity-one {
  opacity: 1;
}

#head-2 {
  margin-left: 100px;
  margin-top: 20px;
}

/* Style for the CTA ghost button group */

.ghost-button {
  background: rgba(0,0,0,0);
  border: none;
}

.button-text {
  font-size: 17px;
  font-family: 'Muli', sans-serif;
}

.ghost-button:focus {
  outline: none;
}

#ghost-1 {
  background-color: #01579B;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 3px;
  margin-right: 10px;
}

#ghost-2 {
  box-sizing: border-box;
  border: 2px #01579B solid;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  color: #01579B;
}

#ghost-2 a {
  color: #01579B;
}

#ghost-2:hover a {
  color: #1976D2;
  text-decoration: none;
}

#ghost-1:hover {
  background-color: #1976D2;
}

#ghost-2:hover {
  border-color: #1976D2;
}

.ghost-btn-group {
  margin-top: 40px;
  margin-left: 50px;
}

@media only screen and (max-width: 1024px) {
  .web-name {
    position: fixed;
    left: 14vw;
    top: 5vh;
    color: #01579B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1500px) {
  .web-name {
    position: fixed;
    left: 15vw;
    top: 10vh;
    color: #01579B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  .intro-head {
    font-size: 50px;
  }

  #head-2 {
    margin-left: 120px;
    margin-top: 20px;
  }

  .ghost-btn-group {
    margin-top: 40px;
    margin-left: 60px;
  }

  .button-text {
    font-size: 22px;
    font-family: 'Muli', sans-serif;
  }
}

@media only screen and (min-width: 1800px) {
  .web-name {
    position: fixed;
    left: 14vw;
    top: 8vh;
    color: #01579B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  .intro-head {
    font-size: 70px;
  }

  .ghost-btn-group {
    margin-top: 70px;
    margin-left: 105px;
  }

  .button-text {
    font-size: 29px;
    font-family: 'Muli', sans-serif;
  }

  #head-2 {
    margin-left: 170px;
    margin-top: 30px;
  }
}