
.camp-list {
	transition: opacity 250ms ease-in-out;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	padding-left: 80px;
	padding-right: 60px;
}


.camp-item .camp-name {
	font-family: 'Merriweather', serif;
	font-size: 27px;
}

.camp-item .camp-desc, .camp-item .camp-weat {
	color: #616161;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
}


.nav-item {
	height: 37px;
}

.detail-page-camp {
	top: 25px;
	height: 100%;
	width: 100%;
	padding-left: 80px;
	transition: opacity 250ms ease-in-out;
	position: absolute;
	padding-right: 40px;
}

.yes-display {
	width: 50%;
}

.no-display {
	width: 50%;
}

.display-none {
	display: none;
}

.list-text {
	font: 30px;
}

.site-tab {
	margin-top: 30px;
	padding-left: 50px;
}

.site-item {
	margin-bottom: 17px;
	font-size: 17px;
	color: #424242;
}

.site-item i {
	padding-right: 15px;
	font-size: 9px;
	transform: translateY(-3px);
}

.site-name {
	font-weight: bold;
	margin-right: 11px;
}

.red-icon {
	color: #FF5252;
	opacity: 0.7;
}

.green-icon {
	color: #69F0AE;
	opacity: 0.9;
}

.access-tab {
	padding-left: 15px;
	padding-top: 22px;
	padding-right: 20px;
}

.access-tab h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	margin-bottom: 15px;
	color: #002359;
	border-bottom: 1px #EEEEEE solid;
	position: relative;
	margin-top: 25px;
	text-decoration: none;
}

.access-tab p {
	margin-left: 30px;
	color: #170956;
}

.info-header {
	padding-bottom: 0px;
	padding-left: 6px;
	font-family: 'Muli', sans-serif;
}

.info-header i {
	padding-left: 7px;
	font-size: 18px;
	transform: translateY(-1px);
	color: black;
	position: absolute;
	right: 8px;
	bottom: 2px;
	opacity: 0.8;
}

.info-header img {
	height: 24px;
	transform: translateY(-1px);
	opacity: 0.8;
	position: absolute;
	right: 5px;
	bottom: 0px;
}

#fire-grate-icon {
	height: 18px;
	padding-left: 5px;
	transform: translateY(-3px);
}

#phone-icon {
	height: 24px;
}

#camp-icon {
	height: 24px;
}

#wifi-icon {
	height: 22px;
}

#wheelchair-icon {
	height: 22px;
}

#car-icon {
	height: 18px;
}

#info-icon {
	height: 22px;
}

#road-info {
	margin-top: 10px;
}

.road-title, .vehicle-group {
	margin-bottom: 10px;
}

.road-detail, .vehicle-info {
	padding-left: 40px;
	opacity: 0.9;
	font-size: 15px;
}

.camp-tab h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	margin-bottom: 17px;
	color: #002359;
	border-bottom: 1px #EEEEEE solid;
	position: relative;
	margin-top: 25px;
	padding-bottom: 2px;
	padding-left: 3px;
	text-decoration: none;
}

.camp-tab {
	padding-left: 24px;
	padding-right: 20px;
	padding-top: 5px;
}

.camp-tab p {
	margin-left: 30px;
	color: #170956;
}

#name {
}

.info-title {
	margin-bottom: 10px;
}

.info-detail {
	padding-left: 40px;
	opacity: 0.9;
	font-size: 15px;
}

.link-icon {
	margin-left: 5px;
}

#campground-icon {
	position: absolute;
	right: 5px;
	height: 26px;
	top: 5px;
}

#direction-icon {
	height: 18px !important;
	top: 5px;
}


.inform-icon {
	position: absolute;
	right: 5px;
	font-size: 18px;
	color: black;
	opacity: 0.8;
	top: 5px;
}

#reservation-icon {
	position: absolute;
	right: 3px;
	height: 20px;
	top: 4px;
}

.weather-icon {
	position: absolute;
	right: 3px;
	font-size: 18px;
	color: black;
	opacity: 0.8;
	top: 4px;
}


.return-button {
	position: fixed;
	left: 26vw;
	top: 45vh;
	font-size: 40px;
	z-index: 5;
	color: #8E24AA;
	opacity: 0.7;
}

.return-button:hover {
	opacity: 0.9;
	cursor: pointer;
}

.return-button.hide:hover {
	opacity: 0;
}


.camp-item {
	padding-bottom: 10px;
	padding-top: 20px;
	border-bottom: 1px #E0E0E0 solid;
}

.camp-item:hover {
	color: #7C4DFF;
	cursor: pointer;
}

.bold-text {
	font-weight: bold;
	color: black;
	opacity: 0.9;
}






.show {
	opacity: 1;
	z-index: 1;
}

.hide {
	opacity: 0;
	z-index: 0;
}

.no-camp-page {
	height: 100vh;
	width: 100%;
	position: relative;
}

.no-camp {
	position: absolute;
	left: 50%;
	top: 30vh;
	transform: translateX(-50%);
}

#camping-icon {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;	
}

.no-camp-text {
	margin-top: 100px;
	color: #01579B;
}