.space-top {
	height: 100px;
	width: 100%;
}

.camp-list {
	margin-left: 300px;

}

.close-modal {
	position: absolute;
	right: 30px;
	top: 10px;
	z-index: 10;
}

.nav-item {
	height: 37px;
}

.modal-body {
	height: 500px;
	overflow-y: scroll; 
}

.yes-display {
	width: 50%;
}

.no-display {
	width: 50%;
}

.list-text {
	font: 30px;
}