.bg-img-no-transition {
	z-index: -10;
	width: 100%;
	height: 100vh;
	transform: translateY(0px);
	position: fixed;
	transition: transform 5s ease-in-out;

}

#left {
	height: 100%;
	width: 25%;
	position: fixed;
	left: 0;
	background-color: black;
	opacity: 0.6;
	display: grid;
	grid-template-rows: 1fr 400px 1fr;
	grid-template-columns: 1fr 200px 1fr;
	
}

#right {
	height: 100%;
	width: 75%;
	position: fixed;
	right: 0;
	overflow-y: scroll;
	background-color: rgb(246,244,242);
	opacity: 1;
	display: table;
}






.wrapper {
	position: relative;
	min-height: 100vh;
	height: 100%;
	position: relative;
}


.nav-item a {
	height: 30px;
	color: white;
}


.nav-item {

}

.navigation {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	place-self: center;
}