.bg-img-no-transition {
	z-index: -10;
	width: 100%;
	height: 100vh;
	transform: translateY(0px);
	position: fixed;
}

#left-side {
	height: 100%;
	width: 25%;
	position: fixed;
	left: 0;
	background-color: black;
	display: grid;
	grid-template-rows: 1fr 400px 1fr;
	grid-template-columns: 1fr 200px 1fr;
	font-family: 'Open Sans', sans-serif;
	opacity: 0;
	transition: opacity 800ms ease-in;
}

#right-side {
	height: 100%;
	width: 75%;
	position: fixed;
	right: 0;
	overflow-y: scroll;
	background-color: rgb(246,244,242);
	opacity: 0;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	transition: opacity 800ms ease-in;
}


#left-side.left-show {
	opacity: 0.6;
}

#right-side.right-show {
	opacity: 1;
}




.wrapper {
	position: relative;
	min-height: 100vh;
	height: 100%;
	position: relative;
}


.nav-item a {
	height: 30px;
	color: white;
}


.nav-item {
	font-size: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

.navigation {
	z-index: 0;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	place-self: center;
}


.line-grow::after {
	display: block;
	content: '';
	border-bottom: solid 3px white;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
	padding-top: 3px;
}

.nav-item:hover .line-grow::after {
	transform: scaleX(1);
}

.park-page {
	width: 100%;
	height: 100%;
}

.park-nav {
	margin-top: 20px;
	margin-left: 65px;
	margin-right: 40px;
}

.basic-page {
	margin-top: 30px;
	margin-left: 80px;
	margin-right: 50px;

}

.basic-page .park-fullname {
	font-family: 'Merriweather', serif;
	font-size: 27px;
}

.basic-page .state-desig {
	font-family: 'Muli', sans-serif;
}


.basic-page .park-state {
	margin-right: 30px;
	color: #0D47A1;
}

.basic-page .park-desig {
	color: #4A148C;
}

.basic-page .park-overview {
	margin-top: 30px;
}

.basic-page .park-h4 {
	font-family: 'Muli', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 23px;
}

.more-info {
	font-size: 15px;
}

.park-text {
	color: #424242;
}


.article-page {
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 50px;
}

.article-detail {
	display: flex;
}

.article-image {
	margin-right: 30px;
	padding: 10px;
	border: 1px #E0E0E0 solid;
}

.article-image img {
	max-width: 300px;
}

.park-article {
	border-bottom: 1px #E0E0E0 solid;
	padding-bottom: 40px;
	padding-top: 30px;
}

.park-article .article-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
}





.news-page {
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 50px;
}

.park-news .news-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
}

.news-detail {
	display: flex;
}

.news-image {
	margin-right: 30px;
	padding: 10px;
	border: 1px #E0E0E0 solid;
}

.news-image img {
	max-width: 300px;
}

.park-news {
	border-bottom: 1px #E0E0E0 solid;
	padding-bottom: 30px;
	padding-top: 30px;
}

.park-news .news-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
	margin-bottom: 20px;
}

.park-news .news-releasedate {
	font-size: 13px;
	color: #9E9E9E;
	margin-bottom: 5px;
}

.park-news .news-caption {
	font-size: 14px;
	color: #424242;
	margin-top: 5px;
	margin-bottom: 5px;
}

.park-news .news-credit {
	font-size: 12px;
	color: #9E9E9E;
	margin-top: 5px;
	margin-bottom: 0px;
}

.alert-icon {
	position: absolute;
	transform: translate(-4px, -3px);
	color: #F44336;
	opacity: 0.8;
}


.alert-detail {
	display: flex;
}

.alert-page {
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 50px;
}

.alert-detail .alert-left {
	margin-left: 10px;
	margin-right: 30px;
}

.alert-detail .alert-title {
	font-family: 'Muli', sans-serif;
	font-size: 20px;
}

.title-closure {
	color: #C62828;
}

.title-caution {
	color: #F9A825;
}

.title-info {
	color: #01579B;
}

.alert-detail {
	border-bottom: 1px #E0E0E0 solid;
	padding-bottom: 30px;
	padding-top: 30px;
}

.alert-head {
	font-family: 'Merriweather', serif;
	font-size: 23px;
	margin-top: 30px;
}



.active {
	background-color: rgba(0,0,0,0) !important;
	border-bottom-color: #F6F4F2 !important;
}

.nav-item {
	padding-top: 6px !important;
	height: 40px !important;
}





.side-nav-container {
	height: 100%;
	width: 25%;
	position: fixed;
	left: 0;
	background-color: black;
	font-family: 'Open Sans', sans-serif;
	opacity: 0;
	transition: opacity 800ms ease-in;
	z-index: 0;
	color: white;
	display: grid;
	grid-template-rows: 1fr 400px 1fr;
	grid-template-columns: 1fr 200px 1fr;

}

.side-nav-show {
	opacity: 0.7;
	z-index: 1;
}

.side-nav-menu {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	place-self: center;
	font-family: 'Muli', sans-serif;
}

.side-nav-home {
	transform: translateX(17px);
}

.side-nav-search {
	transform: translateX(13px);
}

.side-nav-link {
	font-size: 20px;
	height: 30px;
	color: white;
	display: block;
	margin-bottom: 20px;
}

.side-nav-link:hover .line-grow::after {
	transform: scaleX(1);
}

.side-nav-link:hover {
	color: white;
}

.side-nav-item {
	display: inline-block;
}

.nav-icon {
	font-size: 30px;
	margin-top: 10px;
	margin-left: 17px;
	cursor: pointer;
	position: fixed;
	color: white;
}

#back-icon {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
	margin-top: 17px;
	margin-left: 10px;
}

#back-icon img {
	width: 33px;
}

#back-icon:hover img {
	opacity: 0.7;
}

.nav-icon:hover {
	opacity: 0.8;
}

.close-icon i {
	position: absolute;
	font-size: 30px;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.close-icon:hover i {
	opacity: 0.7;
}

.park-nav-item {
	font-family: 'Muli', sans-serif;
	font-size: 18px;
}

.thing-nav {
	margin-top: 20px;
    margin-left: 65px;
    margin-right: 40px;
}




.event-image img {
	max-width: 300px;
}

.park-event {
	display: flex;
	border-bottom: 1px #E0E0E0 solid;
	padding-bottom: 30px;
	padding-top: 30px;
}

.event-page {
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 50px;
}

.event-image {
	margin-right: 30px;
	padding: 10px;
	border: 1px #E0E0E0 solid;
	max-width: 320px;
}

.park-event .event-caption {
	font-size: 14px;
	color: #424242;
	margin-top: 5px;
	margin-bottom: 5px;
}

.park-event .event-credit {
	font-size: 12px;
	color: #9E9E9E;
	margin-top: 5px;
	margin-bottom: 0px;
}

.park-event .event-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
	margin-bottom: 0px;
}

.event-type {
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	color: #9E9E9E;
}

.event-time-text {
	margin-left: 25px;
}

.event-text {
	width: 100%;
}

.event-tag {
	margin-right: 10px;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 7px;
	border-radius: 4px;
	border: 1px #673AB7 solid;
	display: inline-block;
}

.tag-list {
	margin-top: 30px;
}

.tag-text {
	font-weight: bold;
	margin-right: 5px;
}

.more-detail-btn {
	margin-top: 20px;
	color: #1565C0;
}

.more-detail-btn:hover {
	text-decoration: underline;
	cursor: pointer;
}

.more-detail-btn:hover i {
	font-size: 17px;
}

.double-right-icon {
	margin-left: 5px;
	transform: translateY(1px);
}


.display-none {
	display: none;
}

.show {
	opacity: 1;
	z-index: 1;
}

.hide {
	opacity: 0;
	z-index: 0;
}

.event-detail {
	transition: opacity 250ms ease-in-out;
	position: absolute;
	padding-right: 30px;
	padding-top: 20px;
}

.event-list {
	transition: opacity 250ms ease-in-out;
	width: 100%;
	height: 100%;
}

.return-button2 {
	position: fixed;
	left: 26vw;
	top: 45vh;
	font-size: 40px;
	z-index: 5;
	color: #8E24AA;
	opacity: 0.7;
}

.return-button2.hide:hover {
	opacity: 0;
}

.return-button2:hover {
	opacity: 0.9;
	cursor: pointer;
}

.event-detail .event-detail-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
	margin-bottom: 0px;
}

.event-detail-types {
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	color: #9E9E9E;
}

.bold-text {
	font-weight: bold;
}

.has-border {
	margin-right: 10px;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 7px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
}

.text-free {
	border-color: #01579B;
	color: #01579B;
}

.text-all-day {
	border-color: #00695C;
	color: #00695C;
}

.text-recur {
	border-color: #311B92;
	color: #311B92;
}

.text-regres {
	border-color: #4A148C;
	color: #4A148C;
}

.when-where {
	margin-top: 30px;
	border-bottom: 1px #E0E0E0 solid;
}

.event-descr {
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px #E0E0E0 solid;
}

.event-descr h1, h2, h3, h4, h5, h6 {
	font-size: 17px;
	text-decoration: underline;
	font-weight: normal;
	margin-bottom: 15px;
	color: black;
}

.event-description {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
	text-decoration: none;
}

.event-descr-text {
	color: #424242;
}

.contact-text {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
	text-decoration: none;
}

.event-contact {
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px #E0E0E0 solid;
}

.contact-name {
	margin-bottom: 8px;
}

.contact-email-icon {
	margin-right: 8px;
	color: #757575;
	margin-left: 2px;
}

.contact-phone-icon {
	margin-right: 8px;
	color: #757575;
	margin-left: 2px;
}

.contact-email {
	color: black;
}

.contact-name-icon {
	margin-right: 8px;
	color: #757575;
	margin-left: 2px;
}

.contact-email-text {
	display: inline-block;
	margin-bottom: 8px;
}

.event-regres {
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px #E0E0E0 solid;
}

.regres-text {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
	text-decoration: none;
}

/* Style for the people page */
.park-people {
	border-bottom: 1px #E0E0E0 solid;
	padding-bottom: 30px;
	padding-top: 30px;
}

.park-people .people-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
}

.people-page {
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 50px;
}

.people-detail {
	display: flex;
}

.people-image {
	margin-right: 30px;
	padding: 10px;
	border: 1px #E0E0E0 solid;
}

.people-image img {
	max-width: 300px;
}

.park-people .people-caption {
	font-size: 14px;
	color: #424242;
	margin-top: 5px;
	margin-bottom: 5px;
}

.park-people .people-credit {
	font-size: 12px;
	color: #9E9E9E;
	margin-top: 5px;
	margin-bottom: 0px;
}

/* Style for the place page */
.park-place {
	border-bottom: 1px #E0E0E0 solid;
	padding-bottom: 30px;
	padding-top: 30px;
}

.park-place .place-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
}

.place-page {
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 50px;
}

.place-detail {
	display: flex;
}

.place-image {
	margin-right: 30px;
	padding: 10px;
	border: 1px #E0E0E0 solid;
}

.place-image img {
	max-width: 300px;
}

.park-place .place-caption {
	font-size: 14px;
	color: #424242;
	margin-top: 5px;
	margin-bottom: 5px;
}

.park-place .place-credit {
	font-size: 12px;
	color: #9E9E9E;
	margin-top: 5px;
	margin-bottom: 0px;
}

/* Style for the lesson page */

.lesson-page {
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 50px;
}

.park-lesson .lesson-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
}

.park-lesson {
	border-bottom: 1px #E0E0E0 solid;
	padding-bottom: 30px;
	padding-top: 30px;
}


.lesson-subject {
}

.subject-science {
	color: #00796B;
	border-color: #00796B;
}

.subject-math {
	color: #C2185B;
	border-color: #C2185B;
}

.subject-social {
	color: #512DA8;
	border-color: #512DA8;
}

.subject-ela {
	color: #0277BD;
	border-color: #0277BD;
}

.subject-else {
	color: #5D4037;
	border-color: #5D4037;
}

.question-objective {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	color: #424242;
	margin-top: 10px;
}

.lesson-info-icon {
	margin-right: 6px;
}

pre {
	white-space:pre-wrap;
}

.no-event-page {
	position: relative;
}

.no-event {
	position: absolute;
	left: 50%;
	top: 30vh;
	transform: translateX(-50%);
}

#paw-print-icon {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 70px;	
}
#alert-icon {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
}

.no-alert-text {
	margin-top: 75px;
	color: #1B5E20;	
}

.no-event-text {
	margin-top: 80px;
	color: #C58965;
}

.cloud-loading-page {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.cloud-loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#mountain-icon {
	width: 70px;
}

#cloud-icon {
	width: 25px;
	position: absolute;
	top: 17px;
	left: 22px;
	animation: cloud-move 7s infinite linear;
}

@keyframes cloud-move {
	0%, 50%, 100% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(30px);
	}
	75% {
		transform: translateX(-30px);
	}
}

.cloud-loading-text {
	color: #A3D4F7;
	margin-top: 5px;
	margin-left: 3px;
	font-size: 16px;
}

.cloud-loading-dots {
	position: absolute;
	top: 76px;
	left: 59px;
}