.bg-img-no-transition {
	z-index: -10;
	width: 100%;
	height: 100vh;
	transform: translateY(0px);
	position: fixed;
	transition: transform 5s ease-in-out;

}

#left-side {
	height: 100%;
	width: 25%;
	position: fixed;
	left: 0;
	background-color: black;
	display: grid;
	grid-template-rows: 1fr 400px 1fr;
	grid-template-columns: 1fr 200px 1fr;
	font-family: 'Open Sans', sans-serif;
	opacity: 0;
	transition: opacity 1s ease-in;
}

#right-side {
	height: 100%;
	width: 75%;
	position: fixed;
	right: 0;
	overflow-y: scroll;
	background-color: rgb(246,244,242);
	opacity: 0;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	transition: opacity 1s ease-in;
}


#left-side.left-show {
	opacity: 0.6;
}

#right-side.right-show {
	opacity: 1;
}




.wrapper {
	position: relative;
	min-height: 100vh;
	height: 100%;
	position: relative;
}


.nav-item a {
	height: 30px;
	color: white;
}


.nav-item {
	font-size: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

.navigation {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	place-self: center;
}

.line-grow::after {
	display: block;
	content: '';
	border-bottom: solid 3px white;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
	padding-top: 3px;
}

.nav-item:hover .line-grow::after {
	transform: scaleX(1);
}

.park-page {
	width: 100%;
	height: 100%;
}

.park-nav {
	margin-top: 20px;
	margin-left: 65px;
	margin-right: 40px;
}

.basic-page {
	margin-top: 30px;
	margin-left: 80px;
	margin-right: 50px;

}

.basic-page .park-fullname {
	font-family: 'Merriweather', serif;
	font-size: 27px;
}

.basic-page .state-desig {
	font-family: 'Muli', sans-serif;
}


.basic-page .park-state {
	margin-right: 30px;
	color: #0D47A1;
}

.basic-page .park-desig {
	color: #4A148C;
}

.basic-page .park-overview {
	margin-top: 30px;
}

.basic-page .park-h4 {
	font-family: 'Muli', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
}

.park-link {
	font-size: 12px;

}

.more-info {
	font-size: 15px;
	color: #757575;
}

.park-text {
	color: #424242;
}


.article-page {
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 50px;
}

.article-detail {
	display: flex;
}

.article-image {
	margin-right: 30px;
	padding: 10px;
	border: 1px #E0E0E0 solid;
}

.article-image img {
	max-width: 300px;
}

.park-article {
	border-bottom: 1px #E0E0E0 solid;
	padding-bottom: 40px;
	padding-top: 30px;
}

.park-article .article-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
}





.news-page {
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 50px;
}

.park-news .news-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
}

.news-detail {
	display: flex;
}

.news-image {
	margin-right: 30px;
	padding: 10px;
	border: 1px #E0E0E0 solid;
}

.news-image img {
	max-width: 300px;
}

.park-news {
	border-bottom: 1px #E0E0E0 solid;
	padding-bottom: 30px;
	padding-top: 30px;
}

.park-news .news-title {
	font-family: 'Muli', sans-serif;
	font-size: 27px;
	margin-bottom: 20px;
}

.park-news .news-releasedate {
	font-size: 13px;
	color: #9E9E9E;
	margin-bottom: 5px;
}

.park-news .news-caption {
	font-size: 14px;
	color: #424242;
	margin-top: 5px;
	margin-bottom: 5px;
}

.park-news .news-credit {
	font-size: 12px;
	color: #9E9E9E;
	margin-top: 5px;
	margin-bottom: 0px;
}



.active {
	background-color: rgba(0,0,0,0) !important;
	border-bottom-color: #F6F4F2 !important;
}

.nav-item {
	padding-top: 6px !important;
	height: 40px !important;
}