.wrapper {
	position: relative;
	min-height: 100vh;
	height: 100%;
}

.search-bar {
	width: 600px;
	position: relative;
	left: 400px;
	top: 50px;
}

.search-input {
	width: 600px;
	height: 40px;
	padding-left: 18px;
	border-radius: 50px;
	border: none;
	outline: none;
}

.search-button {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	background-color: #00B0FF;
	border: none;
	color: white;
	position: absolute;
	right: 0px;
	outline: none;
}

.search-button:focus {
	outline: none;
}

.filter-menu {
	position: relative;
	top: 50px;
	left: 50px;
}

.dropdown-item {
	width: 100%;
	height: 40px;
}

.dropdown-item p {
	border-bottom: 1px #EEEEEE solid;
	box-sizing: border-box;
	padding-bottom: 11px;
}

.filter-button {
	display: inline-block;
}


.state-filter-button:hover {
	/* Add style later */
	background-color: rgba(0, 0, 0, 0);
	color: black;
	border-color: black;
}


.filter-group {
	position: relative;
	top: 180px;
	left: 60px;
	
}

#state-filter-wrapper {
	width: 130px;
}

#desig-filter-wrapper {
	width: 180px;
}

#search-filter-wrapper {
	width: 180px;
}

.state-filter-item {
	position: relative;
	background-color: #00BCD4;
	border-radius: 50px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.desig-filter-item {
	position: relative;
	background-color: #9575CD;
	border-radius: 50px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.desig-filter-item i {
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 12px;
}

.state-filter-item i {
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 12px;
}

.filter-text {
	height: 100%;
	margin-right: 20px;
}

.search-result {
	padding-left: 400px;
	padding-top: 150px;
}

.result-item {
	border: 1px black solid;
	width: 800px;
	height: 70px;
	padding: 20px;
}

.result-link {
	color: black;
}

.result-link:hover {
	text-decoration: none;
	color: black;
}

.rotate-90 {
	transform: rotate(90deg);
}

.collapse-icon {
	margin-right: 11px;
	color: #3CDBBC;
}

.filter-option {
	padding-top: 5px;
	background-color: white;
	/*display: none;*/
	visibility: hidden;
	position: absolute;
	left: 25px;
	z-index: 10;
	border-radius: 10px;
	border: 1px #BDBDBD solid;
}

.filter-option::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: white;
	border-top: 0;
	margin-left: -45px;
	margin-top: -8px;
}

.filter-option::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #BDBDBD;
	border-top: 0;
	margin-left: -45px;
	margin-top: -10px;
}

#state-filter-option::after, #state-filter-option::before {
	margin-left: -75px;
}

#desig-filter-option::after, #desig-filter-option::before {
	margin-left: -70px;
}

.show {
	/*display: block;*/
	visibility: visible;
}

/* Disable text selection highlighting */
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.option-wrapper {
	/*max-height: 400px;*/
	max-height: 0px;
	transition: max-height 500ms ease;
	overflow-y: scroll;
}

.option-wrapper-sm {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 500ms ease;
}

.expand {
	max-height: 330px;
}

.expand-sm {
	max-height: 100px;
}

.line-grow::after {
	display: block;
	content: '';
	border-bottom: solid 3px #019fb6;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
	padding-top: 3px;
}


.filter-wrapper:hover .line-grow::after {
	transform: scaleX(1);
}

.filter-wrapper i {
	transition: color 200ms ease, transform 250ms ease-in-out;
}

.filter-wrapper:hover i {
	color: #00796B;
}

#search-by-name {
	border: none;
}

#dropdown-name {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

