.wrapper {
	position: relative;
	background-color: #B2DFDB;
	height: 100vh;
}

.search-bar {
	width: 600px;
	position: absolute;
	left: 400px;
	top: 50px;
}

.search-input {
	width: 600px;
	height: 40px;
	padding-left: 17px;
	border-radius: 50px;
	border: none;
	outline: none;
}

.search-button {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	background-color: #00B0FF;
	border: none;
	color: white;
	position: absolute;
	right: 0px;
	outline: none;
}

.filter-menu {
	position: absolute;
	top: 50px;
	left: 50px;
}

.dropdown-item {
	width: 100%;
	height: 35px;
}

.dropdown-menu {
	height: 300px;
	overflow-y: auto;
	padding: 0px;
}

.filter-button {
}

.state-filter-button, .desig-filter-button {
	background-color: rgba(0, 0, 0, 0);
	color: black;
	border-color: black;
}

.state-filter-button:hover {
	/* Add style later */
	background-color: rgba(0, 0, 0, 0);
	color: black;
	border-color: black;
}

.state-filter-button::after {
	/*display: none;*/
}

.filter-group {
	position: absolute;
	top: 180px;
	left: 60px;
}

.state-filter-item {
	position: relative;
	background-color: #00BCD4;
	border-radius: 50px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.desig-filter-item {
	position: relative;
	background-color: #9575CD;
	border-radius: 50px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.desig-filter-item i {
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 12px;
}

.state-filter-item i {
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 12px;
}

.filter-text {
	height: 100%;
	margin-right: 20px;
}
