.space-top {
	height: 100px;
	width: 100%;
}

.modal-body {
	height: 500px;
	overflow-y: scroll;
	padding-left: 40px;
}

.modal-body h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	margin-bottom: 17px;
	color: #002359;
	border-bottom: 1px #EEEEEE solid;
	position: relative;
	margin-top: 25px;
	margin-right: 10px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.info-title {
	margin-bottom: 10px;
}

.info-detail {
	padding-left: 40px;
	opacity: 0.9;
	font-size: 15px;
}

.modal-body p {
	margin-left: 30px;
	color: #170956;
}

.modal-body a {
	margin-left: 30px;
}

#direction-url {
	margin-bottom: 20px;
}

.link-icon {
	margin-left: 5px;
}

#direction-icon {
	position: absolute;
	right: 10px;
	height: 20px;
}

#visitor-icon {
	position: absolute;
	right: 9px;
	height: 25px;
}
