.detail-page {
	top: 10px;
	height: 100%;
	width: 100%;
	padding-left: 50px;
	transition: opacity 500ms ease-in-out;
	position: absolute;
	padding-right: 40px;
}

.show {
	opacity: 1;
	z-index: 1;
}

.hide {
	opacity: 0;
	z-index: 0;
}

.detail-page h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	margin-bottom: 17px;
	color: #002359;
	border-bottom: 1px #EEEEEE solid;
	position: relative;
	margin-top: 25px;
	margin-right: 10px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.info-title {
	margin-bottom: 10px;
}

.info-detail {
	padding-left: 40px;
	opacity: 0.9;
	font-size: 15px;
}

.detail-page p {
	margin-left: 30px;
	color: #170956;
}

.detail-page a {
	margin-left: 30px;
}

#direction-url {
	margin-bottom: 20px;
}

.link-icon {
	margin-left: 5px;
}

#direction-icon {
	position: absolute;
	right: 10px;
	height: 20px;
}

#visitor-icon {
	position: absolute;
	right: 9px;
	height: 25px;
}

.visitor-list {
	transition: opacity 500ms ease-in-out;
	position: absolute;
	
}

.visitor-detail {
	
}

.visitor-wrapper {
	width: 100%;
	height: 100%;
	
}